@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body:not(footer){
    background-color: #F6F6F7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************* Product Start ********************************************/

.product-detail{
    padding: 20px 20px 50px 20px ;
    background-color: #F6F6F7;
}

.added{
    background-color: #F6F6F7;
}

.product-detail nav .breadcrumb{
    background-color: #F6F6F7;
}


.product-detail nav  ol li a{
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #949495;
}

.product-detail nav ol li a:hover{
    color: #2F2F30;
}


.product-detail .col-lg-8 .carousel{
    /* width: 587px; */
    margin-left: -100px;
    margin-top: 8px;
}
.product-detail .col-lg-8 .carousel-item,
.product-detail .col-lg-8 .carousel-item.active{
    height: 900px;
}

.product-detail .col-lg-8 .carousel-item img,
.product-detail .col-lg-8 .carousel-item.active img{
    height: 100%;
}

.product-detail ul{
    list-style-type: none;
    padding: 0;
}

.product-detail ul li:not(.product-info-bottom ul li){
    margin: 10px;
}

.product-detail .product-info-right{
    height:35%;
    /* background-color: yellow; */
    padding: 0;
}

.product-detail .product-info-right h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    color: #2F2F30;
}

.product-detail .product-info-right p{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #949495;
}

.product-detail .product-info-right ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.product-detail .product-info-right ul li,
.product-detail .avg-rating ul li{
    margin-right: 40px;
    margin-left: -5px;
}

.product-detail .product-info-right ul li:nth-child(2){
    margin-top: -5px;
}

.product-detail .product-info-right ul li .reviews{
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color: #043768;
}

.product-rating{ 
    border: none;
    float: left;
}
  
  .product-rating > input { 
      display: none; 
} 

.product-rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
 }
  
  .product-rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .product-rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .product-rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { 
      color: #FEBF34;  
    } /* hover previous stars in list */
  
  .product-rating > input:checked + label:hover, /* hover current star when changing product-rating */
  .product-rating > input:checked ~ label:hover,
  .product-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .product-rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


  .product-price{
      font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em; 
    color: #2F2F30; 
    margin-top: -20px;
}

hr{
    margin-top: -60px;
    border: 0.5px solid #8E9091;
}

.product-size{
    padding: 0;
}

.product-size h4{
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #2F2F30;
    /* margin-left: 20px; */
    margin-bottom: 20px;
}

.product-size .size-buttons{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.product-size .size-buttons li{
    text-align: center;
    width: 86px;
    height: 48px;
    /* background-color: yellow; */
    box-sizing: border-box;
    padding: 12px 10px;
    border-radius: 38px;
    border: 1px solid #C4C4C4;
    transition: 0.4s all ease-in;
}

.product-size .size-buttons li p{
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #2F2F30;
}


.product-size .size-buttons li:hover{
    background-color: #2F2F30;
    border: none;
}

.product-size .size-buttons li:hover p{
    color: #fff;
}



.product-size .size-guide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-size .size-guide img{
    position: absolute;
    border: 1px solid #043768;
}
.product-size .size-guide h6{
    margin-left: 40px;
    margin-top: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color: #043768;
}

.product-size .bag-like-buttons{
    margin-top: 30px;
}

.product-size .bag-like-buttons ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.product-size .bag-like-buttons .add-bag{
    outline: none;
    position: relative;
    color: #fff;
    background-color: #2F2F30;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    width: 490px;
    height: 62px;
    padding: 20px;
}

.product-size .bag-like-buttons .add-bag:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.5s ease 0s; 
    z-index: -1;
}
 
.product-size .bag-like-buttons .add-bag:hover{
    outline: none;
    /* border-color: #fff; */
    color: #2F2F30;
}

.product-size .bag-like-buttons .add-bag:hover:after{
    background-color: #fff;
    width: 100%;
    border: 1px solid #2F2F30;
}




.product-size .bag-like-buttons a i{
    color: #000000;;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    padding: 10px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.5s all;
}

.product-size .bag-like-buttons a i:hover{
    background: #2F2F30;
    color: #fff;
    border: none;
}

.product-info-text{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000000;
}

.policy{
    width: 577px;
    height: 150px;
    background: #E5E9F0;
    padding: 10px;
}

.policy ul{
    height: 50px;
    list-style: none;
    display: flex;
    padding: 0;
}

.policy ul span li h6{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: #000000;
}

.policy ul span li p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #949495;
}

.product-info-bottom .nav-tabs .nav-item a,
.product-info-bottom .nav-tabs .nav-item a.active{
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	color: #5C5D5D;	
	padding-bottom: 20px;
	/* transition: 0.4s all; */
}

.product-info-bottom .nav-tabs .nav-item a.active,
.product-info-bottom .nav-tabs .nav-item a.active:focus, 
.product-info-bottom .nav-tabs .nav-item a.active:hover {
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
    border-bottom:  2px solid #2F2F30;
	color: #000000;
	background-color: #F6F6F7;;
}

.product-info-bottom .nav-tabs .nav-item a,
.product-info-bottom .nav-tabs .nav-item a:hover{
	border-top: 0px !important;
	border-left: 0px !important;
    border-right: 0px !important;
}


.product-info-bottom .tab-content .tab-pane ul:not(.product-review ul):not(.types):not(.pagination){
	list-style: none;
	display: inline-block;
}

.product-info-bottom .tab-content .tab-pane ul li p:not(.types p){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #000000;
}

.product-info-bottom .tab-content .tab-pane ul:nth-child(2):not(.product-review ul){
	margin-left: 120px;
}

.rating-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #000000;
}

.rating-result{
    padding: 8px;
}

.rating-numb{
    margin-left: 20px;
    color: #FEBF34;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
}

.rating-numb:hover{
    text-decoration: none;
    color: #FEBF34;
}


.product-review ul{
    left: 0;
}

.product-info-bottom .tab-content .tab-pane .product-review ul li:nth-child(2){
    margin-left: 20px;
}

.progress-question{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: #000000;
}

.progress{
    width: 186px;
    height: 7px;
    margin-bottom: 20px;
    background: #C4C4C4;    
    border-radius: 8px;
    margin-left: 10px;
}

.progress .progress-bar{
    background: #2F2F30;
    border-radius: 8px;
}

.progress .progress-bar.first {
    width: 8px;
}
.progress .progress-bar.second {
    width: 165px;
}
.progress .progress-bar.third {
    width: 18px;
}

.product-property{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000000;
}
.progress-bars div .percentage{

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000000;
}


.reviewer{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #000000;
}


.comment{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #000000;
}

.translate{
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    color: #043768;
}

.types{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 25px;
}

.types li{
    color: #5C5D5D;
    padding: 0 20px 0 0;
    /* margin-left: 20px; */
} 

.types p{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}

.types p span{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.date{
    margin-top: 30px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color: #5C5D5D;
}

.write-review{
    width: 264px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    border: 1px solid #2F2F30;
    border-radius: 0;
    outline: none;
    border-color: #2F2F30;
    position: relative; 
    display: block;
    background: #2F2F30;
    color: #fff;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
}

.write-review,
.write-review:focus,
.write-review:after,
.write-review:hover:after,
.write-review:hover{
    outline: #fff;
}

.write-review:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.5s ease 0s; 
    z-index: -1;
}
 
.write-review:hover{
    outline: none;
    color: #2F2F30;

}

.write-review:hover:after{
    background-color: #fff;
    width: 100%;
}


.pagination-part{
    margin-right: 0;
}

.navigation{
    margin-left: 10px;
    margin-top: 10px;
}

.pagination-result{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #949495;
}

.pagination .page-item{
    padding: 0;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .right{
    background-color: #F6F6F7;
    border: #F6F6F7;
}


.pagination .page-item a{
    width: 20px;
    height: 19px;
    padding: 3px 6px;
    margin-left: 5px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: #000000;
}

.pagination .page-item a
.pagination .page-item a:focus{
    outline: none;
}

#collapseReview{
    transition: 1s all ease;
}

.review-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #000000;
}

.form-group{
    margin-top: 30px;
}

.form-group input,
.form-group textarea{
    background: #F6F6F7;
}

.form-group label,
.rating-3-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: #2F2F30;
}

.form-group .form-control:not(textarea):not(.select-edit){
    width: 549px;
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

textarea.form-control{
    width: 549px;
    height: 209px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.btn-send{
    outline: none;
    position: relative;
    background-color: #2F2F30;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    width: 549px;
    height: 50px;
    padding: 15px 0 20px 0;
    margin-top: 30px;
}

.btn-send:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.5s ease 0s; 
    z-index: -1;
}
 
.btn-send:hover{
    outline: none;
    /* border-color: #fff; */
    color: #2F2F30;
}

.btn-send:hover:after{
    background-color: #fff;
    width: 100%;
    border: 1px solid #2F2F30;
}

footer{
    margin-top: 10%;
}







/******************************************* Product Start ********************************************/

