* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

*:not(span) {
  color: #2f2f30;
}

*:not(input[type="checkbox"]) {
  appearance: none;
}

nav .breadcrumb {
  background-color: #f6f6f7;
}

nav ol li a {
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #949495;
}

nav ol li a:hover {
  color: #2f2f30;
  text-decoration: none;
}

.my-profile,
.change-pass-title,
.edit-prof-title,
.delete-prof-title,
.order-list-title,
.address-bool-title,
.new-address-title,
.add-new-address-title,
.my-address-title,
.del-address-title,
.wishlist-title {
  line-height: 29.6px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

textarea:focus {
  box-shadow: none !important;
}

input {
  border-radius: 0 !important;
}

input:focus {
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.new-address .list-group .list-group-item {
  background: none;
  border: 0;
  font-size: small;
  color: #949495;
  list-style: circle !important;
}

.profile--section {
  padding: 136px 83px;
}

/* *********************************************** Profile Tabs  ************************************** */
.profile--section .profile--tabs {
  display: flex;
  flex-flow: column;
  margin: 56px 0;
}

.profile--section .profile--tabs .nav-link {
  color: #8e9091;
  font-weight: 700;
  line-height: 19.5px;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 21px;
}

.profile--section .profile--tabs .nav-link.active,
.profile--section .profile--tabs .nav-link:hover {
  background: none;
  color: #323334;
}

/* *********************************************** Hide profile-info,edit,delete Sections  ************************************** */

/* .profile-info.hide,
.change-pass.hide,
.delete-profile.hide,
.address.hide,
.order-history.hide,
.new-address.hide,
.add-new-address.hide,
.my-addresses.hide,
.delete-address.hide {
  display: none;
} */

/* *********************************************** Profile Info  ************************************** */

.divider {
  height: 1px;
  background: #c4c4c4;
  margin: 28px 0 36px;
}

.profile-info .info--table {
  color: #000;
  border: 0;
  font-weight: 500;
  font-style: normal;
  line-height: 19.5px;
  width: 100%;
  margin-bottom: 28px;
}

.profile-info .info--table .table-cell {
  padding: 16px 26px 5px 26px;
  border: 1px solid #c4c4c4;
  text-align: left;
}

.profile-info .info--table .table-cell p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0em;
  color: #000000;
}

.profile-info .info--table .col-sm-4.table-cell p {
  font-weight: 600;
}
.profile-info .info--table .col-sm-8.table-cell p {
  font-weight: 400;
}

.btn:not(.shop):not() {
  width: 218px;
  height: 33px;
}

.btn-profile,
.btn-quantity {
  position: relative;
  background: #2f2f30;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  color: #f6f6f7;
}

.btn-profile::after,
.btn-quantity::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.btn-profile:hover,
.btn-quantity:hover {
  outline: none;
  color: #2f2f30;
}

.btn-profile:hover::after,
.btn-quantity:hover::after {
  background-color: #fff;
  width: 100%;
  border: 1px solid #2f2f30;
}

/* *********************************************** Change Password  ************************************** */

.form-group {
  margin: 10px 0 20px 0;
}
.change-pass form fieldset,
.edit-profile form fieldset,
.delete-profile form fieldset,
.new-address form fieldset {
  margin: 0;
}

.change-pass form fieldset label,
.edit-profile form fieldset label,
.delete-profile form fieldset label,
.new-address form fieldset label {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
}

.change-pass form fieldset label span,
.edit-profile form fieldset label span,
.delete-profile form fieldset label span,
.new-address form fieldset label span {
  color: red;
}

.change-pass form fieldset input,
.edit-profile form fieldset input,
.delete-profile form fieldset input,
.new-address form fieldset input {
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  height: 50px;
  width: 100%;
}

.change-pass form fieldset input:focus,
.edit-profile form fieldset input:focus,
.delete-profile form fieldset input:focus {
  box-shadow: none;
}

.change-pass .pass-rules ul li {
  color: #949495;
  font-size: 10px;
  line-height: 12.19px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 6px;
}

.save-btn {
  width: 92px;
  height: 33px;
  position: relative;
  background: #2f2f30;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  color: #f6f6f7;
}

.save-btn::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.save-btn:hover {
  outline: none;
  color: #2f2f30;
}

.save-btn:hover::after {
  background-color: #fff;
  width: 100%;
  border: 1px solid #2f2f30;
}

.cancel-btn {
  width: 92px;
  height: 33px;
  position: relative;
  background: #f6f6f7 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  color: #2f2f30 !important;
  border: 1px solid !important;
}

.cancel-btn::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.cancel-btn:hover {
  outline: none;
  color: #f6f6f7 !important;
  border: 1px solid #000 !important;
}

.cancel-btn:hover::after {
  background-color: #2f2f30 !important;
  width: 100%;
}

/* *********************************************** Edit Profile  ************************************** */

.edit-profile.hide {
  display: none;
}

/* *********************************************** Delete Profile  ************************************** */

.delete-profile p {
  font-style: 14px;
  font-weight: 500;
  line-height: 17.07px;
  margin-bottom: 28px;
}

.delete-profile .alert {
  background: #edf0f6 !important;
  padding: 12px 0 12px 12px;
  border-radius: 0;
}

.delete-profile .alert p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}

.delete-profile .alert p:first-child {
  color: #2f2f30;
  font-weight: 600;
}

/* *********************************************** Order History  ************************************** */

.new-address form fieldset .form-group .form-control {
  width: 561px;
}

/* *********************************************** Add new address  ************************************** */

.address-book-title {
  text-transform: uppercase;
  color: #2f2f30;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.add-new-address .btn.btn-add-address {
  color: #fff;
  border: 1px solid #000 !important;
}

.add-new-address .btn.btn-add-address::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.add-new-address .btn.btn-add-address:hover {
  color: #2f2f30;
  border: 1px solid !important;
}

.add-new-address .btn.btn-add-address:hover::after {
  background: #f6f6f7;
  width: 100%;
}

.add-new-address .alert {
  background: #edf0f6;
  height: 57px;
}

.add-new-address .alert i,
.add-new-address .alert span {
  color: #0343a2;
  font-size: 14px;
  line-height: 17.07px;
}

.add-new-address .alert span {
  font-weight: 500;
}

.add-new-address .address-table {
  height: 376px;
}

.add-new-address .address-table .address-table-cell {
  border: 1px solid #c4c4c4;
}

.add-new-address .address-table .row:first-child .address-table-cell {
  padding: 22px;
}

.add-new-address .address-table .list-group {
  padding: 36px 0 88px 22px;
}

.add-new-address .address-table .list-group .list-group-item {
  background: none;
  border: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 19.5px;
  list-style: circle !important;
}

.add-new-address .address-table .row:last-child .address-table-cell:last-child {
  padding: 23px 0 119px 55px;
  height: 100%;
}

.add-new-address
  .address-table
  .row:last-child
  .address-table-cell
  .select-edit {
  width: 300px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  color: #000;
  background: url("../../assets/icon/down-arrow.svg"), transparent;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
}

.add-new-address
  .address-table
  .row:last-child
  .address-table-cell
  .select-edit:focus {
  box-shadow: none;
}

/* *********************************************** Added address  ************************************** */

.my-addresses-table .my-addresses-cell {
  border: 1px solid #c4c4c4;
  padding: 22px 0 0 23px;
}

.my-addresses-table .row:first-child .my-addresses-cell:first-child span {
  font-weight: 600;
}
.my-addresses-table .row:first-child .my-addresses-cell {
  height: 60px;
  padding: 22px;
}

.my-addresses-table .row:last-child .my-addresses-cell {
  height: 380px;
  padding: 22px;
}

.my-addresses-table .row:first-child .my-addresses-cell:last-child {
  position: relative;
}

.my-addresses .my-addresses-table .my-addresses-cell .close-table {
  position: absolute;
  top: 8px;
  right: 0;
  transform: rotate(45deg);
  color: #949495;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;
}

.my-addresses .my-addresses-table .my-addresses-cell .btn-address {
  position: relative;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  width: auto;
}

.my-addresses
  .my-addresses-table
  .my-addresses-cell
  .btn-address:not(.default-bill) {
  background: #2f2f30;
  color: #f6f6f7;
}

.my-addresses .my-addresses-table .my-addresses-cell .btn-address::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.my-addresses
  .my-addresses-table
  .my-addresses-cell
  .btn-address:not(.default-bill):hover {
  outline: none;
  color: #2f2f30;
}

.my-addresses
  .my-addresses-table
  .my-addresses-cell
  .btn-address:not(.default-bill):hover::after {
  background-color: #fff;
  width: 100%;
}

.my-addresses .my-addresses-table .my-addresses-cell .btn-address.default-bill {
  background: transparent !important;
  border: 1px solid !important;
}

.my-addresses
  .my-addresses-table
  .my-addresses-cell
  .btn-address.default-bill:hover {
  color: white;
  outline: none;
}

.my-addresses
  .my-addresses-table
  .my-addresses-cell
  .btn-address.default-bill:hover::after {
  background-color: #2f2f30;
  width: 100%;
}

.my-addresses .my-addresses-table .list-group .list-group-item {
  background: none;
  border: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 19.5px;
  list-style: circle !important;
  margin: 0;
  padding: 10px 0 6px 0;
}

.my-addresses .my-addresses-table .my-addresses-cell .select-edit {
  width: 97px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  background: url("../../assets/icon/down-arrow.svg"), transparent;
  background-repeat: no-repeat;
  background-position: 94% 50%;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
}

.my-addresses .my-addresses-table .my-addresses-cell .select-edit:focus {
  box-shadow: none;
}

/* *********************************************** Added address  ************************************** */

.delete-address .row:nth-child(3).col-12 p {
  color: #2f2f30;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.delete-address .row:nth-child(4) .col-12 p {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  margin: 28px 0 36px 0;
}

.delete-address .row:last-child .delete-btn {
  position: relative;
  background: #2f2f30;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  color: #f6f6f7;
}

.delete-address .row:last-child .delete-btn::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.delete-address .row:last-child .delete-btn:hover {
  outline: none;
  color: #2f2f30;
}

.delete-address .row:last-child .delete-btn:hover::after {
  background-color: #fff;
  width: 100%;
  border: 1px solid #2f2f30;
}

/* *********************************************** Wishlist  ************************************** */

.wishlist .close-wishlist-table {
  padding: 8px 10px;
  color: #949495;
  transform: rotate(45deg);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.wishlist .wishlist-table {
  height: 297px;
}

.wishlist .wishlist-table .row:nth-child(1) .wishlist-table-cell {
  height: 64px;
}

.wishlist .wishlist-table .row:nth-child(2) .wishlist-table-cell {
  height: 233px;
}

.wishlist .wishlist-table .wishlist-table-cell {
  border: 1px solid #c4c4c4;
  padding: 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #000;
}

.wishlist
  .wishlist-table
  .wishlist-table-cell
  .list-group
  .list-group-item.default {
  color: #0343a2;
}

.wishlist .wishlist-table .wishlist-table-cell .list-group .list-group-item {
  padding: 0;
  background: none;
  border: 0;
  line-height: 19.5px;
  font-weight: 500;
}

.wishlist .wishlist-table .wishlist-table-cell .select-edit.toggle {
  border: 1px solid #c4c4c4;
  height: 50px;
  width: 97px;
  background: url("../../assets/icon/down-arrow.svg"), #f6f6f7;
  background-repeat: no-repeat;
  background-position: 92% 50%;
  cursor: pointer;
}

.wishlist .wishlist-table .wishlist-table-cell .select-edit.toggle:focus,
.wishlist-info
  .wishlist-info-table
  .wishlist-info-table-cell
  .select-edit.toggle:focus {
  box-shadow: none;
}

.wishlist .btn-wishlist {
  position: relative;
  background: #2f2f30;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.07px;
  letter-spacing: 0em;
  padding: 8px 16px;
  color: #f6f6f7;
}

.wishlist .btn-wishlist::after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: -1;
}

.wishlist .btn-wishlist:hover {
  outline: none;
  color: #2f2f30;
}

.wishlist .btn-wishlist:hover::after {
  background-color: #fff;
  width: 100%;
  border: 1px solid #2f2f30;
}

/* *********************************************** Wishlist  ************************************** */

.new-wishlist .row:nth-child(3) .col-12 p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2f2f30;
  margin-bottom: 20px;
}

.new-wishlist form .row .col-12 .form-group label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
}

.new-wishlist form .row .col-12 .form-group label span {
  color: red;
}

.new-wishlist form .row .col-12 .form-group input[type="text"].form-control {
  width: 100%;
}

/* *********************************************** Wishlist Info  ************************************** */

.wishlist-info .wishlist-info-table {
  height: 362px;
}

.wishlist-info .wishlist-info-table .wishlist-info-table-cell {
  border: 1px solid #c4c4c4;
  padding: 22px;
}

.wishlist-info .wishlist-info-table .row:first-child .wishlist-info-table-cell {
  font-weight: 600;
  height: 64px;
  line-height: 19.5px;
}

.wishlist-info
  .wishlist-info-table
  .row:first-child
  .wishlist-info-table-cell:last-child {
  position: relative;
}

.wishlist-info
  .wishlist-info-table
  .row:first-child
  .wishlist-info-table-cell:last-child
  a {
  position: absolute;
  color: #949495;
  transform: rotate(45deg);
  display: inline-block;
  top: 4px;
  right: 10px;
  text-decoration: none;
  padding: 8px 10px;
}

.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell {
  height: 231px;
}

.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell
  .row
  .col-7,
.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell
  .row
  .col-5 {
  height: 231px;
  padding: 22px;
}

.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell
  .row
  .col-7 {
  border-right: 1px solid #c4c4c4;
}

.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell
  .wishlist-product-image {
  width: 145px;
  height: 104px;
  background: #c4c4c4;
}

.wishlist-info
  .wishlist-info-table
  .wishlist-info-table-cell
  .wishlist-product-name
  span {
  color: #0343a2;
  text-transform: uppercase;
  font-weight: 500;
}

.wishlist-info
  .wishlist-info-table
  .row:nth-child(2)
  .wishlist-info-table-cell
  .form-group
  input[type="text"] {
  width: 68px;
  height: 50px;
  background: transparent;
}

.wishlist-info
  .wishlist-info-table
  .wishlist-info-table-cell
  .select-edit.toggle {
  border: 1px solid #c4c4c4;
  height: 50px;
  width: 97px;
  background: url("../../assets/icon/down-arrow.svg"), #f6f6f7;
  background-repeat: no-repeat;
  background-position: 92% 50%;
  cursor: pointer;
  font-weight: 500;
}

/* *********************************************** Wishlist Info  ************************************** */

.move-wishlist .row:nth-child(3) .alert {
  background: #edf0f6;
  height: 57px;
  padding: 20px;
}

.move-wishlist .row:nth-child(3) .alert i,
.move-wishlist .row:nth-child(3) .alert span {
  font-size: 14px;
  color: #0343a2;
}

.move-wishlist .row:nth-child(3) .alert i {
  margin-right: 13px;
}

.move-wishlist .row:nth-child(3) .alert span {
  font-weight: 500;
}
